*{
    box-sizing:border-box;
}
body{
    background:pink;
    width: 100%;
    height: 100%;

}


form{
    background: aquamarine;
    width: 20%;
    margin: 100px auto;
    text-align: center;
}
input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    
}